<header class="profile-header mt-30">
  <div class="profile-meta">
    <div class="profile-meta-group">
		  <div class="profile-image">
			  <img src="<%= user_avatar_src @user %>">
			</div>
			<div class="profile-headings">
			  <div class="profile-heading-group">
				  <span class="header-h1 mb-0">
					  <%= @user.username %>
					</span>

          <%= follow_button if signed_in? and current_user != @user %>
				</div><!-- close profile-heading-group -->

        <p class="profile-about bodyFont fontSize-18" itemprop="about">
				  Binyamin Appelbaum is a Washington correspondent who covers the Federal Reserve and other aspects of economic policy. He writes about policy debates, economic trends and the impact of government policy on American life.
				</p>

        <%= link_to "#{number_to_human(@user.following.count)} following", '#', class: 'mr-12 greyLink underlineLink fontSize-16 headerFont' %>
        <%= link_to "#{number_to_human(@user.followers.count)} #{"follower".pluralize(@user.followers.count)}", '#', class: 'greyLink underlineLink fontSize-16 headerFont' %>
			</div><!-- close profile-headings -->
    </div>
	</div>
</header>
