<header class='account-heading headerFont darkType' data-section='password'>
  <h2>Change your password</h2>
</header>

<%= form_for(@user, as: :user, url: registration_path(:user), html: { method: :put, class: "account-form validate-form password-form", remote: true}) do |form| %>

  <%#= render 'shared/error_messages' %>

  <div class="form-group change-password-group">
    <%= form.label :password, "Your new password" %>
 
    <div class='account-actions' data-field='password'>
      <span class='btn btn-small btn-padding-xs btn-light edit-field-btn'>Change password</span>
    </div>
 
    <p class='bodyFont color-dark-74 fontSize-14 mb-15'>
      Desired password must be at least 6 characters long
    </p>

    <div class='input-container'>
      <%= form.password_field :password,
                              class: "form-control form-input-validate",
                              required: true, minlength: 6, maxlength: 128,
                              data: { field: 'password', title: 'password',
                                      changed: false } %>
    </div>

    <%= form.label :password_confirmation, "Confirm your new password", class: 'mt-30' %>

    <div class='input-container'>
      <%= form.password_field :password_confirmation, autocomplete: "off", 
                              class: "form-control form-input-validate",
                              required: true, minlength: 6, maxlength: 128,
                              data: { field: 'password_confirmation', 
                                      title: 'password_confirmation',
                                      changed: false } %>
    </div>

    <%= form.label :current_password, "Your current password", class: 'mt-30' %> 
    <p class='bodyFont color-dark-74 fontSize-14 mb-15'>
      We need your current password to confirm your changes
    </p>

    <div class='input-container'>
      <%= form.password_field :current_password, autocomplete: "off", 
                              class: "form-control form-input-validate",
                              required: true, minlength: 6, maxlength: 128,
                              data: { field: 'current_password',
                                      title: 'current_password',
                                      changed: false } %>
    </div> 
  </div>
<% end %>

