<%= form_for Comment.new, url: { controller: :comments, action: :create}, 
               html: { remote: true, class: 'mb-60 mt-20 comment-form', method: :create, 
							         style: 'max-width: 650px;' } do |form| %>
  <%= form.hidden_field :commented_on_type, value: resource.class.name %>
  <%= form.hidden_field :commented_on_id, value: resource.id %>


  <div class="form-group">
    <%= form.text_area :content, class: "mb-0 form-control niceTextarea", placeholder: "Write a comment..." %>
    <!--<span class="pull-right"><a target="_blank" href="/mathjax_cheatsheet" class="grey-link"><span class="glyphicon glyphicon-info-sign"></span> Math Formatting</a></span>
    <div class="clearfix"></div>-->

    <div class='textAreaActions'>
		  <%= form.submit "Post Comment", class: "btn mb-5 btn-mult pull-left mr-10 ml-10 btn-green" %>
      <span class="btn mr-5 mb-5 btn-mult preview-btn pull-left borderSmall btn-light" data-toggle="modal" data-target="#preview-modal">Preview</span>
      <div class='clearfix'></div>
    </div>

  </div>
 <!-- 
  <%#= form.submit "Post Comment", class: "btn mb-5 btn-mult pull-right" %>
  <span class="btn-ghost mr-5 mb-5 btn-mult preview-btn pull-right" data-toggle="modal" data-target="#preview-modal">Preview</span>
-->
<% end %>

<!--
<%#= form_with(model: @comment, remote: true, id: "comment-form", class: "mb-20") do |form| %>
  <%#= form.hidden_field :commented_on_type, value: @comment.commented_on_type %>
  <%#= form.hidden_field :commented_on_id, value: @comment.commented_on_id %>

  <%# if @comment.new_record? %>
    <h2>New Comment</h2>
  <%# else %>
    <h2>Edit Comment</h2>
  <%# end %>

  <div class="form-group">
    <%#= form.text_area :content, class: "mb-20 form-control", autofocus: true %>
    <span class="pull-right"><a target="_blank" href="/mathjax_cheatsheet" class="grey-link"><span class="glyphicon glyphicon-info-sign"></span> Math Formatting</a></span>
    <div class="clearfix"></div>
  </div>
  
  <%#= form.submit "Post Comment", class: "btn mb-5 btn-mult pull-right" %>
  <span class="btn-ghost mr-5 mb-5 btn-mult preview-btn pull-right" data-toggle="modal" data-target="#preview-modal">Preview</span>


  <%# if @comment.new_record? %>
    <span href="#" id="cancel-new-comment" class= "btn-ghost mb-5 btn-mult pull-right mr-10" style="cursor: pointer;">
      <span>cancel</span>
    </span>
  <%# else %>
    <%#= link_to cancel_edit_comment_path(@comment.id), remote: true, class: "btn-ghost pull-right mb-5 btn-mult mr-10" do %>
      <span>cancel</span>
    <%# end %>
  <%# end %>
<%# end %>
-->

