<!-- Replay Comment -->
<div class="bp-comment-reply" id="comment-<%=@comment.id%>">
  <div class="post-meta pl-15 mt-0">
    <div class="post-date float-left">
      <i class="fa fa-calendar-o"></i>
      <span><%=@comment.created_at.strftime('%B %d, %Y')%></span>
    </div>

    <div class="vote-container vote-container-post float-right mt-0">
      <%= link_to vote_path(:vote_type => "like", :votable_type => "comment", :id => @comment.id ), method: :put, remote: true do %>
        <%= upvote_span @comment %>
      <% end %>
                                        
      <%= vote_count_span @comment %>

      <%= link_to vote_path(:vote_type => "dislike", :votable_type => "comment", :id => @comment.id ), method: :put, remote: true do %>
        <%= downvote_span @comment %>                      
      <% end %>
	  </div>

    <div class="clearfix"></div> 
  </div><!-- / .meta -->
  <div class="author-container">
    <div class="author-img">
      <a href="<%= user_path(@comment.user) %>"><img width="60" height="60" src="https://2code.info/demo/html/ask-me/images/demo/admin.jpeg" alt=""></a>
    </div>
    <h6><a href="<%= user_path(@comment.user) %>"><%= @comment.user.username %></a></h6>
	  <span class="author-data">12 Points</span>
  </div>

  <br>
                  
  <div class="comment-content" id="comment-content-<%=@comment.id%>">
    <%= sanitize @comment.content %>
  </div>
  <br>
  <% if signed_in? and @comment.user == current_user %>
    <%= link_to comment_path(@comment.id), method: :delete, class: "btn-text btn-small btn-text-danger float-right", data: { confirm: "Are you sure you want to delete your comment?" } do %>
      <span class="comment-remove"><i class="mr-5 glyphicon glyphicon-remove"></i>Delete</span>
    <% end %>

    <%= link_to edit_comment_path(@comment.id),  remote: true, class: "btn-text btn-small float-right" do %>
      <span class="comment-edit"><i class="mr-5 glyphicon glyphicon-edit"></i>Edit</span>
    <% end %>
  <% end %>
  <div class="clearfix"></div>
</div><!-- / .bp-comment-reply -->
