<%= form_with(model: @comment, remote: true, id: "#{comment_form_id}", class: "mb-20") do |form| %>
  <%= form.hidden_field :proof_id, value: @comment.proof.id %>
  <h2>New Comment</h2>
  <div class="form-group">
    <%= form.text_area :content, class: "mb-20 form-control", id: "comment-input-#{@comment.id}", autofocus: true %>
  </div>
  
  <input type="submit" value="Post Comment" class="btn pull-right">

  <% if @action_name == "cancel_new" %>
    <%= link_to cancel_new_comment_path(@comment.proof.id), remote: true, class: "btn-ghost pull-right mr-10" do %>
      <span>cancel</span>
    <% end %>
  <% elsif @action_name == "cancel_edit" %>
    <%= link_to cancel_edit_comment_path(@comment.id), remote: true, class: "btn-ghost pull-right mr-10" do %>
      <span>cancel</span>
    <% end %>
  <% end %>
<% end %>
<div class="clearfix mb-20"></div>
