<!-- Replay Comment -->
<div class="bp-comment-reply" id="comment-<%=@comment.id%>">
  <div class="comment-avatar"><i class="fa fa-user"></i></div>
  <div class="comment-info">
    <h6 class="comment-name"><%= @comment.user.username %></h6>
    <span class="comment-time">on <%= @comment.created_at.strftime("%Y-%m-%d") %></span>
  </div>
  <br>
  <div class="vote-container vote-container-post">
	  <span class="glyphicon glyphicon-triangle-top"></span>
	  <span id="" style="text-align: center; margin-left: -2px;">10 </span>
	  <span class="glyphicon glyphicon-triangle-bottom light-purple"></span>
  </div>

  <div class="comment-content" id="comment-content-<%=@comment.id%>">
    <%= sanitize @comment.content %>
  </div>
  <br>
  <% if signed_in? and @comment.user == current_user %>
    <%= link_to comment_path(@comment.id), method: :delete, class: "btn-text btn-small btn-text-danger float-right", data: { confirm: "Are you sure you want to delete your comment?" } do %>
      <span class="comment-remove"><i class="mr-5 glyphicon glyphicon-remove"></i>Delete</span>
    <% end %>

    <%= link_to edit_comment_path(@comment.id),  remote: true, class: "btn-text btn-small float-right" do %>
      <span class="comment-edit"><i class="mr-5 glyphicon glyphicon-edit"></i>Edit</span>
    <% end %>
  <% end %>

  <div class="clearfix"></div>

</div><!-- / .bp-comment-reply -->

<div class="clearfix"></div>

