<!-- Comment Item -->

<div class="bp-comment-reply mb-22 pb-20" data-comment-id="<%=comment.id%>" style="<%= 'border-bottom: 1px solid #ddd;' if ['Problem', 'Proof'].include? comment.commented_on_type and index < comment.commented_on.comments.count - 1 %>  <%= 'padding-left:60px;' if comment.commented_on_type == 'Comment' %>">
  <% if comment.commented_on_type == 'Comment' and comment.commented_on.commented_on_type == 'Comment' %>
    <div class='fancyCaption'>
      <p class='mb-10 fontSize-13 headerFont fontWeight-700'><i class='fa fa-reply mr-5'></i> In reply to <a class="lightGreyLink underlineLink fontSize-12" href="<%=user_path(comment.commented_on.user.id)%>"><%=comment.commented_on.user.name_or_username%></a></p>
    </div>
  <% end %>

  <div class="vote-container vote-container-post float-right mt-0 fontSize-16">
      <%= link_to vote_path(:vote_type => "like", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>
        <%= upvote_span comment %>
      <% end %>
                                        
      <%= vote_count_span comment %>

      <%= link_to vote_path(:vote_type => "dislike", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>
        <%= downvote_span comment %>                      
      <% end %>
		</div>


  <div class="author-container mb-22">
    <div class="author-img">
      <a href="<%=user_path(comment.user.id)%>"><img width="60" height="60" src="<%=user_avatar_src(comment.user)%>" alt="Go to the profile of <%= comment.user.name_or_username %>"></a>
    </div>
    <div class='noWrapWithEllipsis headerFont' style='padding-top: 7.5px; padding-bottom: 7.5px;'>
      <a class="captionSmall captionStrong underlineLink fontSize-15" href="<%=user_path(comment.user.id)%>"><%=comment.user.name_or_username%></a>
      <span class="dot-sep">·</span>
      <span class="label no-wrap" style="font-weight: 600; background: <%= reputation_color comment.user.reputation %>;"><i class="mr-5 fa fa-trophy"></i><%= comment.user.reputation%></span>


      <div class="noWrapWithEllipsis captionSmall fontSize-15">
        <span class="time no-wrap"><%= time_ago_in_words(comment.created_at) %> ago</span>
      </div>
    </div>
    <!--<span class="label" style="font-weight: 600; background: #373940;"><i class="mr-5 fa fa-trophy"></i>8</span>-->
  </div>
                   
  <div class="comment-content-container">
    <div class='comment-content' id="comment-content-<%=comment.id%>">
      <%= sanitize comment.content %>
    </div>
  </div>

  <div class="noWrapWithEllipsis captionSmall fontSize-13 comment-actions">
    <%= add_comment_button comment %> 

    <% if signed_in? and comment.user == current_user %> 
      
      <span class="dot-sep">·</span>
      <span class="comment-edit headerFont greyLink"><i class="mr-5 fa fa-edit"></i>Edit</span>

      <span class="dot-sep">·</span>
      <%= link_to comment_path(comment.id), method: :delete, class: "greyLink headerFont", data: { confirm: "Are you sure you want to delete your comment?" } do %>
        <span class="comment-remove"><i class="mr-5 fa fa-trash-o"></i>Delete</span>
      <% end %>
    <% end %>
    <%= report_button comment %>
  </div>

  <div class="clearfix"></div>
</div><!-- / .bp-comment-reply -->

<% if comment.comments.active.count > 0 %>
  <% comment.comments.active.order("created_at DESC").each_with_index do |comment2, index2| %>
    <%= render partial: 'comments/comment_item', locals: { comment: comment2, index: index2 } %>
  <% end %>
<% end %>

