<% if !@comment.nil? and !@comment.errors.any? %>
  $("form[data-status='submitted']").next('.commentPreview').remove();
  $("form[data-status='submitted']").after("<%= escape_javascript render(:partial => '/comments/comment_item', :locals => { :comment => @comment, index: (@comment.commented_on.comments.count - 1) }) %>");

  <% if @comment.commented_on_type == "Proof" %>
    let $commentsButtonContainer = $("form[data-status='submitted']").closest('.commentSection').prev(".commentsButtonContainer");
    $commentsButtonContainer.find(".commentsDropdownLink span:first-child").text("Comments (<%= @comment.root.comments.count %>)");
    $commentsButtonContainer.prev(".postActions").find(".addCommentIcon span").text("<%= @comment.root.comments.count %>");
  <% end %>

  if ($("form[data-status='submitted']").hasClass('comment-reply-form')) {
    $("form[data-status='submitted']").remove();
  } else {
    $("form[data-status='submitted']").find('textarea').val('');
    $("form[data-status='submitted']").removeAttr('data-status');
  }

  $('#flash-message-wrapper').remove();
  $('body').append("<div id='flash-message-wrapper' class='notice '><p>Comment was successfully created.</p></div>");

  setTimeout(function() {
    $('#flash-message-wrapper').fadeOut("slow", function() {
      $(this).remove();
    });
  }, 5000);

  $comment = $('#comment-content-<%= @comment.id %>');
  setTimeout(function() {
	  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $comment[0]]);
  } ,500);

<% else %>
  $input = $("form[data-status='submitted']").find('textarea');
  addInputError($input[0]);
  addInputErrorMsg($input[0], "<%= @comment.errors.full_messages.join(". ") %>");
  $("form[data-status='submitted']").removeAttr('data-status');
<% end %>
