<% if !@comment.nil? and !@comment.errors.any? %>
  $('#<%=@comment.commented_on_type.downcase%>-<%=@comment.commented_on_id%> .comment-replay-btn').show();
  $('#<%=@comment.commented_on_type.downcase%>-<%=@comment.commented_on_id%>').next().remove();
  $('#<%=@comment.commented_on_type.downcase%>-<%=@comment.commented_on_id%>').after("<%= escape_javascript render(:partial => '/comments/comment', :locals => { :@comment => @comment }) %>");


  // toastr flash messages
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-left",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "8000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  var $toastContent = $('<span>Comment was successfully created.</span>');
  toastr.info($toastContent);
  $comment = $('#comment-content-<%= @comment.id %>');
  setTimeout(function() {
	  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $comment[0]]);
  } ,500);

<% else %>
  $('#comment-form').prepend("<%= escape_javascript render(:partial => '/shared/error_messages', :locals => { :@comment => @comment }) %>");

<% end %>
