<% if !@comment.nil? and !@comment.errors.any? %>
  $('#comment-<%=@comment.id%> .comment-remove').css('display', 'block');
  $('#comment-<%=@comment.id%> .comment-edit').css('display', 'block');

  $('#comment-<%=@comment.id%> .comment-content').html("<%= escape_javascript render(:partial => '/comments/comment_content', :locals => { :@comment => @comment }) %>");

  $('#flash-message-wrapper').remove();
  $('body').append("<div id='flash-message-wrapper' class='notice '><p>Comment was successfully updated.</p></div>");

  setTimeout(function() {
    $('#flash-message-wrapper').fadeOut("slow", function() {
      $(this).remove();
    });
  }, 5000);

  
  $comment = $('#comment-content-<%= @comment.id %>');
  setTimeout(function() {
	  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $comment[0]]);
  } ,500);


<% else %>
  $('#comment-form-<%=@comment.id%>').prepend("<%= escape_javascript render(:partial => '/shared/error_messages', :locals => { :@comment => @comment }) %>");

<% end %>
