<!-- Followed Problems- Widget -->
<div class='row'>
  <div class="col-md-12 followedProblemsWidget mb-20">
	  <div class='niceSidebarWidgetHeader'>
      <h2 class='niceSidebarWidgetTitle headerFont darkType'>
			  Followed Problems
			</h2>
			<img src='/assets/book_reader.png' class='niceSidebarWidgetImage'>
		</div>

	  <ul class="widgetItems pa-32 lightGreyBack">
		  <% followed_problems.each_with_index do |problem, index| %>
        <li class='mb-24 displayFlex'>
          <div class='widgetItemNumber'>
            <%= sprintf('%02d', index + 1) %>
					</div>
					<div class='widgetItemContent'>
            <a class='titleLink' href='<%=problem_path(problem.id) %>'>
              <h3 class='streamTitle'>
                <%= problem.title %>
							</h3>
						</a>
            <div class='textAlignLeft'>
						  <div class='noWrapWithEllipsis verticalAlignMiddle floatLeft'>
							  <div class='noWrapWithEllipsis'>
								  <%= link_to problem.user.username, user_path(problem.user.id),
									  						class: 'captionSmall captionStrong' %>
							  </div>

							  <div class='noWrapWithEllipsis captionSmall'>
								  <span class='time'><%= time_ago_in_words(problem.created_at) %> ago </span>
								  <span class='dot-sep'>&middot;</span>
								  <span class='views'><%=pluralize(problem.impressionist_count, 'view')%></span>
							  </div>
						  </div>
						</div>
					</div>
				</li>
			<% end %>
	  </ul>
  </div><!-- / .recent-posts-widget -->
</div>
