<div class="container">
<div id="frame" class="primary-bs">
	<div id="sidepanel">
		<div id="profile" class="dark-grey-circle">
			<div class="wrap">
				<%# if current_user.profile_image? %>
<!--
					<img id="profile-img" src="<%#=current_user.profile_image.thumb.url%>" alt="profile image" />
-->				<%# else %>
					<img id="profile-img" src="/einstein.png" alt="profile image" />
				<%# end %>
				<h4 class="g-ml-10 font-weight-600"><%=current_user.username%></h4>
			</div>
		</div>
		<div id="contacts">
			<ul>
				<% @conversations.each do |conversation| %>
					<%= link_to conversation_path(conversation.id) do %>
					<% if @conversation.id == conversation.id %>
						<li class="contact active">
					<% else %>
						<li class="contact <%= "read" if conversation.is_read?(current_user)%>">
					<% end %>
					<div class="wrap">
						<%# if (conversation.participants - [current_user])[0].profile_image? %>
<!--							<img id="profile-img" src="<%#=conversation.other_user(current_user).profile_image.thumb.url%>" alt="profile image" />
-->						<%# else %>
							<img id="profile-img" src="/einstein.png" alt="profile image" />
						<%# end %>

						<div class="meta">
							<p class="name"><%=(conversation.participants - [current_user])[0].username%></p>
							<% if conversation.last_sender.id == current_user.id %>
							<p class="preview"><span>You: </span> <%=conversation.last_message%></p>
							<% else %>
								<p class="preview"><%=conversation.last_message%></p>
							<% end %>
						</div>
					</div>
				</li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="messages">
			<ul>
				<% @conversation.receipts_for(current_user).each do |receipt| %>
					<% if receipt.message.sender.id == current_user.id %>
						<li class="replies">
							<%# if current_user.profile_image? %>
<!--
								<img id="profile-img" src="<%#=current_user.profile_image.thumb.url%>" alt="profile image" />
-->							<%# else %>
								<img id="profile-img" src="/einstein.png" alt="profile image" />
							<%# end %>

							<p><%=receipt.message.body%></p>
						</li>
					<% else %>
						<li class="sent">
							<%# if current_user.profile_image? %>
<!--								<img id="profile-img" src="<%#=current_user.profile_image.thumb.url%>" alt="profile image" />
-->							<%# else %>
								<img id="profile-img" src="/einstein.png" alt="profile image" />
							<%# end %>

							<p><%=receipt.message.body%></p>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="message-form-container">
			<%= form_tag conversation_message_path(@conversation), html: { multipart: true, class: "messages-form" }, :remote => true, :authenticity_token => true do |f| %>
				<%= text_area_tag :body, nil, placeholder: "Add a message...", class: "message-text-area" %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				
	
		
		<div class="msg-actions">
		  <span id="" class="msg-submit">Send</span>
		</div>
		</div>
		<% end %>
	</div>
</div>
</div>


<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <div><%= receipt.message.sender.name %> commented: </div>
    <p><%= receipt.message.body %></p>
  </div>
<% end %>

<%= form_tag conversation_message_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body %>
  </div>

  <%= submit_tag %>
<% end %>
