<div class='wideContainer mt-60'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='topic-feature'>
        <% if !@topic.featured_problem.image.blank? %>
          <%= link_to problem_path(@topic.featured_problem.id), class: 'topic-feature-image mb-15', 
					                                   style: "background-image: url(#{@topic.featured_problem.image})" do %>
            
					<% end %>
				<% end %>

        <div class='fancyCaption headerFont'>
          <p class='mb-0'>Featured Problem</p>
				</div>

        <%= link_to problem_path(@topic.featured_problem.id), 
				                         class: 'header-link-1' do %>
          <h1 class='header-h1'>
				    <%= @topic.featured_problem.title %>
			    </h1>
				<% end %>

				<div class="author-container" style='margin-top: 20px; margn-bottom: 20px;'>
				  <div class="author-img">
				    <a href="<%=user_path(@topic.featured_problem.user.id)%>"><img width="60" height="60" src="<%=user_avatar_src(@topic.featured_problem.user)%>" alt="Go to the profile of <%=@topic.featured_problem.user.name_or_username%>"></a>
				  </div>


          <div class='noWrapWithEllipsis headerFont' style='padding-top: 7.5px; padding-bottom: 7.5px;'>
            <a class="captionSmall captionStrong underlineLink fontSize-15" href="<%=user_path(@topic.featured_problem.user.id)%>"><%=@topic.featured_problem.user.name_or_username%></a>
            <div class="noWrapWithEllipsis captionSmall fontSize-15">
              <span class="time no-wrap"><%= time_ago_in_words(@topic.featured_problem.created_at) %> ago</span>
              <span class="dot-sep">·</span>
              <span class="views no-wrap"><%=pluralize(@topic.featured_problem.cached_proofs_count, 'proof')%></span>
            </div>
          </div>
				</div>
			</div>
      <div>
        <h3 class='headerFont pb-8 fontWeight-600 darktype fontSize-16 bb-light'>
          Latest
        </h3>

        <div class='pt-30'>
          <div class='topic-problem-feed'>
            <% @topic.problems.order(created_at: :desc).each_with_index do |problem, index| %>
              <%= render(:partial => 'problems/stream_item', locals: { problem: problem }) %>
            <% end %>
          </div>
        </div>
      </div>
	  </div>
    <div class='col-md-4'>
      <div class='topic-sidebar'>
        <%= render '/shared/sidebars/widgets/topic_meta', locals: { @topic => @topic } %>
        <%@related_topics = @topic.related_topics%>
        <% if @related_topics.length > 2 %>
          <%= render '/shared/sidebars/widgets/related_topics', locals: { @related_topics => @related_topics } %>
        <% end %>

        <% if @topic.problems.count > 2 %>
          <%= render '/shared/sidebars/widgets/popular_problems_widget', locals: { @topic => @topic } %>
        <% end %>
			</div>
		</div>
	</div>
</div>
