<div class='profile-item profile-problem-item lh-1-5'>
  <div>
    <div class="author-container pl-20 pr-20 mt-22 mb-22" style="display: flex; flex-direction: row;">
      <div class="author-img">
        <a href="<%=user_path(problem.user.id)%>"><img width="60" height="60" src="<%=user_avatar_src(problem.user)%>" alt="Go to the profile of <%= problem.user.name_or_username %>"></a>
      </div>
      <div class='noWrapWithEllipsis headerFont' style='padding-top: 7.5px; padding-bottom: 7.5px;'>
        <a class="captionSmall captionStrong underlineLink fontSize-15" href="<%=user_path(problem.user.id)%>"><%=problem.user.name_or_username%></a>
        <div class="noWrapWithEllipsis captionSmall fontSize-15">
          <span class="time no-wrap"><%= time_ago_in_words(problem.created_at) %> ago</span>
          <span class="dot-sep">·</span>
          <span class="views no-wrap"><%=pluralize(problem.cached_proofs_count, 'proof')%></span>
        </div>
      </div>
    </div>
		
		<%= link_to problem_path(problem) do %>
      <div>
        <section style='word-wrap: break-word'>
          <% if problem.has_image_to_preview? %>
          <figure class='mt-20 pl-20 pr-20'>
            <div style='max-width: 700px; margin: auto; position: relative;'>
              <div class='image-preview' style="padding-bottom: 30%; background-image: url('<%=problem.preview_image_url%>');"></div>
						</div>
					</figure>
          <% end %>

          <h1 class='headerFont darkType pl-20 pr-20'><%= problem.title %></h1>
		      <h2 class='headerFont pl-20 pr-20'>
		        This can be a subtitle or first words of the problem
          </h2>
				</section>
			</div>
		<% end %>

		<span class='profile-item-footer headerFont'>
      <div class='pt-10 pl-20 pr-20 flex flex-row'>
        <div class="vote-container vote-container-post mt-0 fontSize-18">
          <%= link_to vote_path(:vote_type => "like", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
            <%= upvote_span problem %>
          <% end %>
                                        
          <%#= vote_count_span problem %>

          <%= link_to vote_path(:vote_type => "dislike", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
            <%= downvote_span problem %>                      
          <% end %>
          <%= vote_count_span problem %>
        </div>
        <div class='views fontSize-15 mr-18'>
          <%=pluralize(problem.impressionist_count, 'view')%>
        </div>

        <span id='problem-bookmark-<%=problem.id%>' class='bookmark'>
          <%= bookmark_link problem, class: "fontSize-15 greyLink headerFont" %>
        </span>

			</div>
      
		</span>
	</div>
</div>
