<div id="blog" class="section container blog-classic">
  <div class="row">
    <!-- ========== Sidebar ========== -->

    <aside class="col-md-3 sidebar mb-sm-160"> 

      <!-- Tags - Widget -->
      <div class="col-md-12 ws-s tags-widget">
        <h5 class="header-widget">Tags</h5>
        <ul class="tag-list">
          <li><a href="#">Photography</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">UI/UX</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">iOS</a></li>
        </ul>
      </div><!-- / .tags-widget -->
              

      <!-- Recent Posts - Widget -->
      <div class="col-md-12 ws-s recent-posts-widget">
        <h5 class="header-widget">Recent Posts</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

      </div><!-- / .recent-posts-widget -->


      <!-- Categories - Widget -->
      <div class="col-md-12 ws-s categories-widget">
        <h5 class="header-widget">Categories</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#">Web Design - <span>15</span></a>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#">Graphic Design - <span>6</span></a>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#">iOS Development - <span>12</span></a>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <a href="#">Other - <span>3</span></a>
        </div>

      </div><!-- / .categories-widget -->

      <!-- Comments - Widget -->
      <div class="col-md-12 ws-s comments-widget">
        <h5 class="header-widget">Comments</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>
                
      </div><!-- / .comments-widget -->


      <!-- Text - Widget -->
      <div class="col-md-12 text-widget">
        <h5 class="header-widget">Text Widget</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui error, incidunt quia pariatur facere quasi totam inventore amet rerum.</p>
      </div><!-- / .text-widget -->

    </aside><!-- / .sidebar -->

    <!-- ========== Blog Posts ========== -->

    <div class="col-md-8">

      <% @problems.each do |problem| %>
        <!-- Blog Post 1 -->
        <div class="col-md-12">
          <div class="blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
            <div class="bp-content">
              <!-- Meta data -->
              <div class="post-meta">
                <div class="post-date float-left">
                  <i class="fa fa-calendar-o"></i>
                  <span><%=problem.created_at.strftime('%B %d, %Y')%></span>
                </div>
                <div class="vote-container vote-container-post float-right">
                  <%= link_to vote_path(:vote_type => "like", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
                    <%= upvote_span problem %>
                  <% end %>

                  <%= vote_count_span problem %>
                        
                  <%= link_to vote_path(:vote_type => "dislike", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
                    <%= downvote_span problem %>
                  <% end %>
                </div>

                <div class="clearfix"></div> 
              </div><!-- / .meta -->

              <!-- Problem Topics -->
              <ul class="tag-list mt-5">
                <% problem.topics.each do |topic| %>
                  <li>
                    <%= link_to topic.name, topic_path(topic.id) %>
                  </li>
                <% end %>
              </ul> <!-- / .tag-list -->

              <!-- Post Title -->
              <%= link_to problem_path(problem.id), class: "post-title" do %>
                <h3><%=problem.title%></h3>
              <% end %>

              <span class="problem-comment"><i class="glyphicon glyphicon-user mr-5"></i> <span id="problem-<%=problem.id%>-followers"><%= pluralize(problem.followers.count, "Follower") %></span></span>

              <span class="problem-comment"><i class="glyphicon glyphicon-comment mr-5"></i><%= pluralize(problem.proofs.count, "Proof") %></span>
              <span class="problem-comment"><i class="glyphicon glyphicon-eye-open mr-5"></i><%=pluralize(problem.impressionist_count, "view")%></span>

              <span class="problem-view"><i class="glyphicon glyphicon-pencil mr-5"></i> <%=pluralize(problem.versions.count, "Edit")%></span>

              <div class="clearfix mb-20"></div>
              <div id="problem-follow-<%=problem.id%>">
                <%= follow_link problem %>
              </div>
            </div><!-- / .bp-content -->
          </div><!-- / .blog-post -->
        </div><!-- / .col-md-12 -->
      <% end %>
    </div><!-- / .col-md-8 -->
  </div>
</div>
