<div id="blog" class="section container blog-classic">
  <div class="row">
    <!-- ========== Sidebar ========== -->

    <aside class="col-md-3 sidebar mb-sm-160">


      <!-- Search - Widget -->
      <div class="col-md-12 ws-s search-widget">
        <div class="form-group">
          <input type="search" placeholder="Search ..." class="form-control">
          <button class="inside-input-btn"><i class="fa fa-search"></i></button>
        </div>
      </div><!-- / .searh-widget -->


      <!-- Tags - Widget -->
      <div class="col-md-12 ws-s tags-widget">
        <h5 class="header-widget">Tags</h5>
        <ul class="tag-list">
          <li><a href="#">Photography</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">UI/UX</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">iOS</a></li>
        </ul>
      </div><!-- / .tags-widget -->
              

      <!-- Recent Posts - Widget -->
      <div class="col-md-12 ws-s recent-posts-widget">
        <h5 class="header-widget">Recent Posts</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

      </div><!-- / .recent-posts-widget -->


      <!-- Categories - Widget -->
      <div class="col-md-12 ws-s categories-widget">
        <h5 class="header-widget">Categories</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#">Web Design - <span>15</span></a>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#">Graphic Design - <span>6</span></a>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#">iOS Development - <span>12</span></a>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <a href="#">Other - <span>3</span></a>
        </div>

      </div><!-- / .categories-widget -->

      <!-- Comments - Widget -->
      <div class="col-md-12 ws-s comments-widget">
        <h5 class="header-widget">Comments</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>
                
      </div><!-- / .comments-widget -->


      <!-- Text - Widget -->
      <div class="col-md-12 text-widget">
        <h5 class="header-widget">Text Widget</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui error, incidunt quia pariatur facere quasi totam inventore amet rerum.</p>
      </div><!-- / .text-widget -->

    </aside><!-- / .sidebar -->

    <!-- ========== Blog Posts ========== -->

    <div class="col-md-8">


      <!-- Blog Post 1 -->
      <div class="col-md-12">
        <div class="blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        

          <div class="bp-content">
        
                      
            <!-- Meta data -->
            <div class="post-meta">
              <a href="#" class="post-date float-left">
                <i class="fa fa-calendar-o"></i>
                <span>August 01.2015</span>
              </a>
              <div class="voting-meta">
                <span class="single-problem-vote-result">+22</span>
                <ul class="single-problem-vote">
                  <li><a href="#" class="single-problem-vote-down" title="Dislike"><i class="pa-2 glyphicon glyphicon-thumbs-down"></i></a></li>
                  <li><a href="#" class="single-problem-vote-up" title="Like"><i class="pa-2 glyphicon glyphicon-thumbs-up"></i></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>
              
<!--
              <a href="#" class="post-comments">
                <i class="fa fa-comments-o"></i>
                <span>12</span>
              </a>
-->
            </div><!-- / .meta -->

            <!-- Post Title -->
            <a href="blog-post.html" class="post-title"><h3>Blog Post Title</h3></a>

            <!-- Blurb -->
            <p class="problem-desc">Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>
            <div class="problem-details">
              <span class="problem-answered problem-answered-done"><i class="mr-5 glyphicon glyphicon-ok"></i>solved</span>
            </div>
            <span class="problem-date"><i class="mr-5 glyphicon glyphicon-time"></i>4 mins ago</span>
            <span class="problem-comment"><i class="glyphicon glyphicon-comment mr-5"></i>5 Answer</span>
            <span class="problem-view"><i class="glyphicon glyphicon-eye-open mr-5"></i>70 views</span>
            <div class="clearfix"></div>
            <!-- Problem topics -->
            <ul class="tag-list mt-20">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">UI/UX</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">iOS</a></li>
            </ul> <!-- / .tag-list -->

            <!-- Link -->
            <!--
            <a href="blog-post.html" class="btn btn-small">Read More</a>
            -->

          </div><!-- / .bp-content -->

        </div><!-- / .blog-post -->
      </div><!-- / .col-md-12 -->


      <!-- Blog Post 2 -->
      <div class="col-md-12">
        <div class="blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
 
          <div class="bp-content">
                  
            <!-- Meta data -->
            <div class="post-meta">
              <a href="#" class="post-date">
                <i class="fa fa-calendar-o"></i>
                <span>August 01.2015</span>
              </a>
              <a href="#" class="post-comments">
                <i class="fa fa-comments-o"></i>
                <span>12</span>
              </a>
            </div><!-- / .meta -->

            <!-- Post Title -->
            <a href="blog-post.html" class="post-title"><h3>Blog Post Title</h3></a>

            <!-- Blurb -->
            <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

            <!-- Link -->
            <a href="blog-post.html" class="btn btn-small">Read More</a>

          </div><!-- / .bp-content -->

        </div><!-- / .blog-post -->
      </div><!-- / .col-md-12 -->
                              
              
      <!-- Pagination -->
      <nav class="blog-pagination">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">7</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>

    </div><!-- / .col-md-8 -->


  </div>
</div>









<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>
