<%#= render 'shared/preview' %>

<div class="container">
  <ul class="multi-step-bar">
    <li class="headerFont active" data-open='true'>Title</li>
    <li class='headerFont' data-open='false'>Tags</li>
    <li class='headerFont' data-open='false'>Problem</li>
    <li class='headerFont' data-open='false'>Review</li>
  </ul>

  <div class="row">
    <div class="col-md-12 col-lg-offset-1 col-lg-10">
      <div class="problem-form-wrapper" id='title-step'>
        
        <div class="step-meta">
			    <h2>Write a title that summarizes the problem</h2>
					
				  <p>The title is the first thing that users will see. It should help them quickly understand what the problem is about.</p>

          <div class='light-grey-card'>
            <h4 class='bodyFont'>
              Here are some tips for making a good title:
            </h4>
 
            <ul>
              <li>
                If the theorem has a name make that your title. Sum up your entire 
                problem in one sentence. Include details that will help people identify 
                and solve your problem. Include any constraints or variants to your 
                problem that make it different from similar problems already on the site. 
              </li>
              <li>
                Spelling, grammar and punctuation are important! Make sure you proof-read 
                it or have someone proof-read it for you if your english is not good.
              </li>
              <li>
                Write the title last if you are having trouble summarizing the problem. 
                Sometimes writing the problem first can make it easier for you to 
                describe the problem.
              </li>
            </ul>
          </div>
				</div>
        <div class='problem-form-container'>
				<%= form_with(model: @problem, remote: true, id: "problem-form", class: 'validate-form') do |form| %>
          <%= render 'shared/error_messages' %>
          <%#= form.hidden_field :tags, value: "", id: "problem-tags" %>
          <%= form.hidden_field :images, value: "#{@new_images}", id: "new-images" %>

          <div class="form-group title-form-group show">
            <%= form.label :title, "Problem Title *" %>
            <div class='input-container title-input-container'>
              <%= form.text_field :title, class: "form-control form-input-validate", placeholder: "What's your problem's title?", required: true, minlength: 10, maxlength: 255, autocomplete: "off", data: { field: 'title' }  %>
            </div>
          </div> 

          <div class="form-group tags-form-group">
            <label for="topic_name">Topics *</label>
            <div class='input-container' id='tags-input-container'>

            </div>
						<!--
            <input class="form-control" type="text" name="topic[name]" id="topics-input" autocomplete="off">
						-->
          </div>

          <div class="form-group problem-content-form-group">
            <%= form.label :content, "Problem body *" %>
            <%= form.hidden_field :content, class: "mb-20 form-control", id: "problem_content", required: true,  minlength: '30', maxlength: '5000' %>
						<div class='input-container problem-content-input-container'> 
              <trix-editor input="problem_content" class="form-input-validate" data-field='content'></trix-editor>
            </div>

            <div class='textAreaActions'>
              <div class='textAreaActionsContainer'>
		            <span class="btn-ghost mb-5 pull-left mr-10 ml-10 btn-next">Ready to submit?</span>
                <span class="btn mr-5 mb-5 preview-btn pull-left borderSmall btn-light">Preview</span>

                <div class='secondary-dropdown pull-right' style='margin: 5px 20px 5px 5px;'>
					        <span class='fa fa-ellipsis-h secondary-dropdown-toggle greyLink fontSize-20'></span>
						      <div class="secondary-dropdown-content headerFont fontSize-15">
                    <%= link_to "Math formatting", 
                      help_center_article_path(article: "How Do I Write Math On My Posts?", 
                                               category: "General"), 
                      class: "darkType" %>
							      <%= link_to "How to write a good proof", 
                      help_center_article_path(article: "How Do I Write A Good Proof?", 
                                               category: "Proofs"), 
                      class: "darkType" %>

                    <%= link_to "More help", help_path, class: "darkType" %>

					        </div>
					      </div>

                <div class='clearfix'></div>
              </div>
            </div>
          </div>
        <% end %>

        <div class='form-nav mt-30'>
          <span class="btn mb-5 ml-15 floatRight btn-submit"> Submit problem</span>
          <span class="btn mb-5 ml-15 floatRight btn-next" disabled>Next</span>
          <span class="btn btn-light mb-5 floatRight" data-nav='previous'>Previous</span>
        </div>

 
        </div> <!--/ Problem form contaner --> 
      </div><!-- / .form-wrapper -->
    </div><!-- / .col-md-12 -->             
  </div><!-- / .row -->
</div><!-- .container -->

<script id='generalPreviewTemplate' type="text/html">
  <%= render 'shared/general_preview_template' %>
</script>

