<!-- ========== Single Blog Post ========== -->

<div id="problem-page" class="pt-100 section container blog-classic">
  <div class="row">
    <div class="col-md-8 mb-sm-160">
      
        <!-- Blog Post -->
        <div class="col-md-12 blog-post-single wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
<!--
          
          <img class="img-responsive post-img" src="http://placehold.it/750x400" alt="Blog Post 1">
-->
          <!-- Meta data -->
          <div class="post-meta">
            <ul class="tag-list mt-20">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">UI/UX</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">iOS</a></li>
            </ul> <!-- / .tag-list -->

          </div><!-- / .meta -->

          <!-- Title -->
          <h2 class="post-title font-weight-600 pt-20 problem-desc mb-30 "><%= @problem.title %></h2>
          
          <div class="vote-container vote-container-post">
            <%= link_to vote_path(:vote_type => "like", :votable_type => "problem", :id => @problem.id ), method: :put, remote: true do %>
              <% if !current_user.liked? @problem %>
				        <span id="problem-upvote-<%=@problem.id%>" class="glyphicon glyphicon-triangle-top"></span>
              <% else %>
                <span id="problem-upvote-<%=@problem.id%>" class="glyphicon glyphicon-triangle-top upvoted"></span>
              <% end %>
            <% end %>
            <% if current_user.liked? @problem %>
						  <span class="upvoted" id="problem-vote-count-<%=@problem.id%>" style="text-align: center; margin-left: -2px;"><%= @problem.cached_votes_score %> </span>
            <% elsif current_user.voted_down_on? @problem %>
              <span class="downvoted" id="problem-vote-count-<%=@problem.id%>" style="text-align: center; margin-left: -2px;"><%= @problem.cached_votes_score %> </span>
            <% else %>
              <span id="problem-vote-count-<%=@problem.id%>" style="text-align: center; margin-left: -2px;"><%= @problem.cached_votes_score %> </span>
            <% end %>
            <%= link_to vote_path(:vote_type => "dislike", :votable_type => "problem", :id => @problem.id ), method: :put, remote: true do %>
              <% if !current_user.voted_down_on? @problem %>
                <span id="problem-downvote-<%=@problem.id%>" class="glyphicon glyphicon-triangle-bottom"></span>
              <% else %>
                <span id="problem-downvote-<%=@problem.id%>" class="glyphicon glyphicon-triangle-bottom downvoted"></span>
              <% end %>
            <% end %>
				  </div>
          <div class="problem-details">
              <span class="problem-answered problem-answered-done"><i class="mr-5 glyphicon glyphicon-ok"></i>solved</span>
          </div>
            <span class="problem-comment"><i class="glyphicon glyphicon-comment mr-5"></i>5 Answer</span>
            <span class="problem-view"><i class="glyphicon glyphicon-eye-open mr-5"></i>70 views</span>

          <div class="clearfix"></div>

          <div class="mb-20 mt-20 blog-post-content">
            <%= sanitize @problem.content %>
          </div>
        </div><!-- / .blog-post-single -->
        
        

        <!-- ========== Comments ========== -->
        <div class="row">
          <div class="col-md-12 blog-post-comments proofs-section">
            <h4 class="blog-section-title">Proofs <span>(<%= @problem.proofs.count %>)</span></h4>
            <% @problem.proofs.each do |proof| %>
              <!-- Comment 1 -->
              <div class="bp-comment" id="proof-<%=proof.id%>">
                <div class="comment-avatar"><i class="fa fa-user"></i></div>
                <div class="comment-info">
                  <h6 class="comment-name"><%= proof.user.username %></h6>
                  <span class="comment-time">on <%= proof.created_at.strftime("%Y-%m-%d") %> </span>
                  <%= link_to new_comment_path(proof_id: proof.id), remote: true, class: "comment-replay-btn" do %>
                    <i class="fa fa-mail-reply-all"></i> Reply
                  <% end %>
                </div>
                <br>
                <div class="vote-container vote-container-post">
                  <%= link_to vote_path(:vote_type => "like", :votable_type => "proof", :id => proof.id ), method: :put, remote: true do %>
                    <% if !current_user.liked? proof %>
				              <span id="proof-upvote-<%=proof.id%>" class="glyphicon glyphicon-triangle-top"></span>
                    <% else %>
                      <span id="proof-upvote-<%=proof.id%>" class="glyphicon glyphicon-triangle-top upvoted"></span>
                    <% end %>
                  <% end %>
                  <% if current_user.liked? proof %>
						        <span class="upvoted" id="proof-vote-count-<%=proof.id%>" style="text-align: center; margin-left: -2px;"><%= proof.cached_votes_score %> </span>
                  <% elsif current_user.voted_down_on? proof %>
                    <span class="downvoted" id="proof-vote-count-<%=proof.id%>" style="text-align: center; margin-left: -2px;"><%= proof.cached_votes_score %> </span>

                  <% else %>
                    <span id="proof-vote-count-<%=proof.id%>" style="text-align: center; margin-left: -2px;"><%= proof.cached_votes_score %> </span>

                  <% end %>
                  <%= link_to vote_path(:vote_type => "dislike", :votable_type => "proof", :id => proof.id ), method: :put, remote: true do %>

                    <% if !current_user.voted_down_on? proof %>
                      <span id="proof-downvote-<%=proof.id%>" class="glyphicon glyphicon-triangle-bottom"></span>
                    <% else %>
                      <span id="proof-downvote-<%=proof.id%>" class="glyphicon glyphicon-triangle-bottom downvoted"></span>
                    <% end %>
                  <% end %>
					      </div>

                <div class="comment-content" id= "proof-content-<%=proof.id%>">
                  <%= sanitize proof.content %>
                </div>
                <br>
                <% if signed_in? and proof.user == current_user %>
                  <%= link_to proof_path(proof.id), method: :delete, class: "btn-text btn-small btn-text-danger float-right", data: { confirm: "Are you sure you want to delete your proof?" } do %>
                    <span class="proof-remove"><i class="mr-5 glyphicon glyphicon-remove"></i>Delete</span>
                  <% end %>

                  <%= link_to edit_proof_path(proof.id),  remote: true, class: "btn-text btn-small float-right" do %>
                    <span class="proof-edit"><i class="mr-5 glyphicon glyphicon-edit"></i>Edit</span>
                  <% end %>
                <% end %>
                <div class="clearfix"></div>
              </div><!-- / .bp-comment -->
              
              <% proof.comments.each do |comment| %>
          
                <!-- Replay Comment -->
                <div class="bp-comment-reply" id="comment-<%=comment.id%>">
                  <div class="comment-avatar"><i class="fa fa-user"></i></div>
                  <div class="comment-info">
                    <h6 class="comment-name"><%= comment.user.username %></h6>
                    <span class="comment-time">on <%= comment.created_at.strftime("%Y-%m-%d") %></span>
                  </div>
                  <br>
                  <div class="vote-container vote-container-post">
                    <%= link_to vote_path(:vote_type => "like", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>
                      <% if !current_user.liked? comment %>
				                <span id="comment-upvote-<%=comment.id%>" class="glyphicon glyphicon-triangle-top"></span>
                      <% else %>
                        <span id="comment-upvote-<%=comment.id%>" class="glyphicon glyphicon-triangle-top upvoted"></span>
                      <% end %>
                    <% end %>
                    <% if current_user.liked? comment %>
						          <span class="upvoted" id="comment-vote-count-<%=comment.id%>" style="text-align: center; margin-left: -2px;"><%= comment.cached_votes_score %> </span>
                    <% elsif current_user.voted_down_on? comment %>
                      <span class="downvoted" id="comment-vote-count-<%=comment.id%>" style="text-align: center; margin-left: -2px;"><%= comment.cached_votes_score %> </span>
                    <% else %>
                      <span id="comment-vote-count-<%=comment.id%>" style="text-align: center; margin-left: -2px;"><%= comment.cached_votes_score %> </span>
                    <% end %>
                    <%= link_to vote_path(:vote_type => "dislike", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>

                      <% if !current_user.voted_down_on? comment %>
                        <span id="comment-downvote-<%=comment.id%>" class="glyphicon glyphicon-triangle-bottom"></span>
                      <% else %>
                        <span id="comment-downvote-<%=comment.id%>" class="glyphicon glyphicon-triangle-bottom downvoted"></span>
                      <% end %>
                    <% end %>
				          </div>

                  <div class="comment-content" id="comment-content-<%=comment.id%>">
                    <%= sanitize comment.content %>
                  </div>
                  <br>
                  <% if signed_in? and comment.user == current_user %>
                    <%= link_to comment_path(comment.id), method: :delete, class: "btn-text btn-small btn-text-danger float-right", data: { confirm: "Are you sure you want to delete your comment?" } do %>
                      <span class="comment-remove"><i class="mr-5 glyphicon glyphicon-remove"></i>Delete</span>
                    <% end %>

                    <%= link_to edit_comment_path(comment.id),  remote: true, class: "btn-text btn-small float-right" do %>
                      <span class="comment-edit"><i class="mr-5 glyphicon glyphicon-edit"></i>Edit</span>
                    <% end %>
                  <% end %>



                  <div class="clearfix"></div>
                </div><!-- / .bp-comment-reply -->
              <% end %>
            <% end %>     
           
            <!-- Leave a comment -->
            <div class="comment-form">
              <% if @problem.proofs.count == 0 %>
                <h4 class="blog-section-title">Be the first to proove</h4>
              <% else %>
                <h4 class="blog-section-title">Leave a proof</h4>
              <% end %>

              <%= form_with(model: Proof.new, local: true, id: "proof-form") do |form| %>
                <%= form.hidden_field :problem_id, value: "#{@problem.id}", id: "problem-id" %>
                <%= render 'shared/error_messages' %>

                <div class="form-group">
                  <%= form.hidden_field :content, class: "mb-20 form-control", id: "proof_content" %>
                  <trix-editor input="proof_content"></trix-editor>
                </div>

               
                <input type="submit" value="Submit Proof" class="btn pull-right">
              <% end %>
            </div><!-- / .comment-form -->

          </div><!-- / .blog-post-comments -->
        </div><!-- / .row --> 
    </div><!-- / .col-md-8 -->



    <!-- ========== Sidebar ========== -->

    <aside class="col-md-offset-1 col-md-3 sidebar">

      <!-- Search - Widget -->
      <div class="col-md-12 ws-s search-widget">
        <div class="form-group">
          <input type="search" placeholder="Search ..." class="form-control">
          <button class="inside-input-btn"><i class="fa fa-search"></i></button>
        </div>
      </div>


      <!-- Tags - Widget -->
      <div class="col-md-12 ws-s tags-widget">
        <h5 class="header-widget">Tags</h5>
        <ul class="tag-list">
          <li><a href="#">Photography</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">UI/UX</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">iOS</a></li>
        </ul>
      </div>
      

      <!-- Recent Posts - Widget -->
      <div class="col-md-12 ws-s recent-posts-widget">
        <h5 class="header-widget">Recent Posts</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
          <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
        </div>

      </div><!-- / .recent-posts-widget -->


      <!-- Categories - Widget -->
      <div class="col-md-12 ws-s categories-widget">
        <h5 class="header-widget">Categories</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <a href="#">Web Design - <span>15</span></a>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <a href="#">Graphic Design - <span>6</span></a>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <a href="#">iOS Development - <span>12</span></a>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <a href="#">Other - <span>3</span></a>
        </div>

      </div><!-- / .categories-widget -->


      <!-- Comments - Widget -->
      <div class="col-md-12 ws-s comments-widget">
        <h5 class="header-widget">Comments</h5>

        <!-- Item 1 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 2 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>

        <!-- Item 3 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
        </div>

        <!-- Item 4 -->
        <div class="widget-item">
          <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
        </div>
        
      </div><!-- / .comments-widget -->


      <!-- Text - Widget -->
      <div class="col-md-12 text-widget">
        <h5 class="header-widget">Text Widget</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui error, incidunt quia pariatur facere quasi totam inventore amet rerum.</p>
      </div><!-- / .text-widget -->

    </aside><!-- / .sidebar -->

  </div><!-- / .row -->
</div><!-- / .container -->

<script>
  <% if @proof.errors.any? %>
    document.getElementById('proof-form').scrollIntoView();
  <% end %>
</script>
