$('#problem-follow-<%=@problem.id%>').html("<a href='<%=problem_follow_path(@problem.id)%>' data-remote='true' data-method='post'><button class='" + $('#problem-follow-<%=@problem.id%>').data("class") + "'>Follow</button></a>");

$('#problem-<%=@problem.id%>-followers').text('<%= pluralize(@problem.followers.count, "Follower") %>');

if ($("#followers-stat-val").length > 0) {
  $("#followers-stat-val").text('<%= @problem.followers.count %>');
}
