<div class='wideContainer pt-80 pb-80' id='account-edit'>
  <div class='row'>
    <div class='col-md-3 account-settings-sidebar pr-30'>
      <ul class='account-settings-tabs fontSize-20 headerFont fontWeight-400'>
        <li class="<%= 'active' if current_page?(edit_user_path(@user))%>">
          <a href="<%= edit_user_path(@user) %>">
            <span>Edit Profile</span>
          </a>
        </li>

        <!-- Tab 2 -->
        <li class="<%= 'active' if current_page?(edit_user_registration_path)%>">
          <a href="<%= edit_user_registration_path %>">
            <span>Change Password</span>
          </a>
        </li>
			</ul>
		</div>
		<div class='col-md-8'>
      <header class='account-heading headerFont darkType'>
        <h2>Update your profile</h2>
			</header>

			<%= render partial: "users/edit", locals: { :@user => @user } %>
			<%= render partial: "devise/registrations/edit", locals: { :@user => @user } %>
		</div>
	</div>
</div>

