if ($('#users-feed').length == 0) {
  $('#user-follow-<%=@user.id%>').html("<a href='<%=unfollow_user_path(@user.id)%>' data-remote='true' data-method='delete'><button class='btn btn-light'>Following</button></a>");
} else {
  $('#user-follow-<%=@user.id%>').html("<a class='mt-0' href='<%=unfollow_user_path(@user.id)%>' data-remote='true' data-method='delete'><button class='btn btn-light btn-small'>Following</button></a>");
}

$('#user-<%=@user.id%>-followers').text('<%= pluralize(@user.followers.count, "Follower") %>');
