<% if signed_in? %>
  <% if @vote.response == :error and current_user != @post.user %>
    <% if @vote.vote_type == "like" and !current_user.has_upvote_privileges? %>
      $('#noPriviligeModal .modal-body .custom-content').html("<p>You need at least 10 <a href='/help/reputation'>reputation</a> to upvote. Gain more privileges by increasing your reputation by posting helpful problems and proofs.</p><a href='/help/priviliges/2' class='btn btn-ghost text-center btn-small mb-10'>Learn More</a>");
      $('#noPriviligeModal').modal('show');
    <% elsif @vote.vote_type == "dislike" and !current_user.has_downvote_privileges? %>
      $('#noPriviligeModal .modal-body .custom-content').html("<p>You need at least 200 <a href='/help/reputation'>reputation</a> to downvote. Gain more privileges by increasing your reputation by posting helpful problems and proofs.</p><a href='/help/priviliges/4' class='btn btn-ghost btn-small text-center mb-10'>Learn More</a>");
      $('#noPriviligeModal').modal('show');
    <% end %>
  <% elsif @vote.response == :success and (@vote.action_taken == :dislike or @vote.action_taken == :unlike)  and @post.soft_deleted? %>
    $('#<%=@post.class.name.downcase%>-<%=@post.id%>').remove();
    $('#flash-message-wrapper').remove();
    $('body').append("<div id='flash-message-wrapper' class='notice'><p><%=@post.user.username%>'s <%= @post.class.name.downcase %> was deleted due to negative feedback from the community.</p></div>");

    setTimeout(function() {
      $('#flash-message-wrapper').fadeOut("slow", function() {
        $(this).remove();
      });
    }, 5000);

  <% elsif @vote.response == :success %>
    $(".user-reputation-<%=current_user.id%>").text("<%=current_user.reputation%>");
    $(".user-reputation-<%=@post.user.id%>").text("<%=@post.user.reputation%>");
  <% end %>
<% else %>
  $('#signinActionModal').modal('show');
<% end %>

