<% if @exception %>
  <div id="error_explanation">
   <ul>
    <li><%= @exception.message %></li>
    </ul>
  </div>
<% elsif @user %>
	<% model = @user %>
<% elsif @topic %>
  <% model = @topic %>
<% elsif @comment %>
  <% model = @comment %>
<% elsif @proof %>
  <% model = @proof %>
<% elsif @problem %>
  <% model = @problem %>
<% end %>
<% if model.errors.any? %>
  <div id="error_explanation">
   <ul>
    <li><%= model.errors.full_messages.first %></li>
    </ul>
  </div>
<% elsif flash[:failed_login] %>
  <div id="error_explanation">
   <ul>
    <li><%= flash[:failed_login] %></li>
    </ul>
  </div>
<% elsif flash[:failed_problem_create] %>
  <div id="error_explanation">
   <ul>
    <li><%= flash[:failed_problem_create] %></li>
    </ul>
  </div>
<% elsif flash[:failed_proof_create]%>
  <ul>
    <li><%= flash[:failed_proof_create] %></li>
    </ul>
  </div>
<% end %>
