<div class="dropdown-container">
  <div class="dropdown-toolbar">
    <div class="dropdown-toolbar-actions">
      <% if current_user.unread_messages.count > 0 %>
        <%= link_to "Mark all as read", mark_all_as_read_path, method: :post, remote: true, class: "mark-all-as-read-link" %>
      <% end %>
    </div>
    <span class="dropdown-toolbar-title">Messages (<%=current_user.unread_messages.count%>)</span>
    <div class="clearfix"></div>
  </div><!-- /dropdown-toolbar -->

  <ul class="dropdown-menu-notifications">
    <% current_user.mailbox.conversations.each do |conversation| %>
      <%= link_to conversation_path(conversation.id), class: "notifications-link" do %>
        <li id="conversation-notification-<%=conversation.id%>" class="notification <%= "active" if !conversation.is_read?(current_user) %>">
          <div class="media">
            <div class="media-left">
              <div class="media-object">
                <img class="img-circle" alt="50x50" style="width: 50px; height: 50px;" src="<%= user_avatar_src(other_user(conversation)) %>" data-holder-rendered="true">
              </div>
            </div>
            <div class="media-body">
              <strong class="notification-title"><%= other_user(conversation).username %> <%= sent_icon(conversation) %></strong>
              <p class="notification-desc truncate-75"><%= conversation.last_message.body %></p>

              <div class="notification-meta">
                <small class="timestamp"><%= conversation.last_message.created_at %></small>
                <%= mark_as_read_icon(conversation) %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if current_user.mailbox.conversations.count == 0 %>
    <div class="no-messages-container">
      <img src="/assets/no_messages_icon.png" alt="conversations icon">
		  <p class="font-weight-600 font-size-15">You have no messages.</p>
	  </div>
  <% end %>
  
  <% if current_user.mailbox.conversations.count > 0 %>
    <div class="dropdown-footer text-center">
      <a href="#">View All</a>
    </div><!-- /dropdown-footer -->
  <% end %>
</div><!-- /dropdown-container -->

