<% if signed_in?  %>
 
  <!-- Leave a Proof -->
  <div class="proof-form-container trix-form-container mt-0"> 
    <%= form_with(model: Proof.new, remote: true, id: "proof-form", class: "new-model-form validate-form proof-form") do |form| %>
      <%= form.hidden_field :problem_id, value: "#{@problem.id}", id: "problem-id" %>
      <%= form.hidden_field :images, value: "#{@new_images}", id: "new-images" %>

      <%= render 'shared/error_messages' %>

      <div class="form-group">
        <%= form.hidden_field :content, class: "mb-20 form-control", id: "proof_content", required: true, minlength: '30', maxlength: '10000', data: { type: "trix" } %>
        <div class='input-container'>
          <trix-editor input="proof_content" class="proof-editor form-input-validate" placeholder='Leave a proof' data-field="content" data-title="Proof"></trix-editor>
        </div>
        <div class='textAreaActions'>
          <div class='textAreaActionsContainer'>
		      <%= form.submit "Submit Proof", class: "btn-ghost mb-5 pull-left mr-10 ml-10", data: { action: 'submit-proof' } %>
          <span class="btn mr-5 mb-5 preview-btn pull-left borderSmall btn-light" data-toggle="modal" data-target="#preview-modal">Preview</span>

          <div class='secondary-dropdown pull-right' style='margin: 5px 20px 5px 5px;'>
					  <span class='fa fa-ellipsis-h secondary-dropdown-toggle greyLink fontSize-20'></span>
						<div class="secondary-dropdown-content headerFont fontSize-15">
              <%= link_to "Math formatting", 
                    help_center_article_path(article: "How Do I Write Math On My Posts?", 
                                             category: "General"), 
                    class: "darkType" %>
							<%= link_to "How to write a good proof", 
                    help_center_article_path(article: "How Do I Write A Good Proof?", 
                                             category: "Proofs"), 
                    class: "darkType" %>

              <%= link_to "More help", help_path, class: "darkType" %>

						</div>
					</div>

          <div class='clearfix'></div>
        </div>
        </div>
      </div>
<!--
    
      <input type="submit" value="Submit Proof" class="btn mb-5 btn-mult pull-left mr-10">
      <span class="btn-ghost pull-left mb-5 btn-mult mr-5 preview-btn borderSmall" data-toggle="modal" data-target="#preview-modal">Preview</span>
-->
    <% end %>
  </div><!-- / .comment-form -->
<% end %>

<div class="clearfix mb-50"></div>

<!--
<%#= form_with(model: proof, local: true) do |form| %>
  <%# if proof.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(proof.errors.count, "error") %> prohibited this proof from being saved:</h2>

      <ul>
      <%# proof.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= form.label :content %>
    <%#= form.text_area :content, id: :proof_content %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
<%# end %>

-->
