
<div class="bp-comment mb-100 pb-20" id="proof-<%=proof.id%>"> 
	<div class="vote-container vote-container-post float-right fontSize-18" style='margin-top: 0 !important;'>
    <%= link_to vote_path(:vote_type => "like", :votable_type => "proof", :id => proof.id ), method: :put, remote: true do %>
      <%= upvote_span proof %>
    <% end %>

    <%= vote_count_span proof %>
                        
    <%= link_to vote_path(:vote_type => "dislike", :votable_type => "proof", :id => proof.id ), method: :put, remote: true do %>
      <%= downvote_span proof %>
    <% end %>
  </div>
 
  <div class="author-container mb-22">
    <div class="author-img">
      <a href="<%= user_path(proof.user) %>"><img width="60" height="60" src="<%=user_avatar_src(proof.user)%>" alt="Go to the profile of <%= proof.user.name_or_username %>"></a>
    </div>

    <div class='noWrapWithEllipsis headerFont' style='padding-top: 7.5px; padding-bottom: 7.5px;'>
      <a class="captionSmall captionStrong underlineLink fontSize-15" href="<%= user_path(proof.user.id) %>"><%= proof.user.name_or_username %></a>
      
      <div class="noWrapWithEllipsis captionSmall fontSize-15">
        <span class="time no-wrap"><%= time_ago_in_words(proof.created_at) %> ago</span>
      </div>

    </div>
  </div> 
                
  <div class="comment-content mt-42 darkType bodyFont bodyStyles" id= "proof-content-<%=proof.id%>">
    <%= sanitize proof.content %>
  </div>

  <div class='dottedSectionDivider'>
    <hr style='margin-bottom: 12px;'>
  </div>

	<!-- Problem Meta -->

  <div class='postActions mb-22'>
    <div class='buttonSet fontSize-22' style='line-height: 40px;'>
      <%= report_button proof %>
      <%= edit_button proof %>
    
 
      <span class= 'float-right greyLink headerFont mr-18 addCommentIcon' title= 'Add comment'>
        <i class='fa fa-comment-o'></i>
			  <% if proof.comments.active.count > 0 %>
          <span class='ml-5 fontSize-14'><%= proof.comments.active.count %></span>
			  <% end %>
		  </span>
  
      <%= link_to '#', class: 'float-right greyLink headerFont mr-18', title: 'Share on twitter' do %>
        <i class='fa fa-twitter'></i>
		  <% end %>
	  </div>

    <div class='clearfix'></div>
  </div>

  <%= render partial: 'comments/comments_section', locals: { resource: proof } %>

</div> <!-- bp-comment -->
