<div class='wideContainer' style='margin-top: 20px; margin-bottom: 150px;'>
  <div class='row'>
    <div class='col-md-8'>
      <ul class='breadcrumb pt-20 mb-40 pl-0'>
        <li>
          <a href='<%=help_path%>'>Help center</a>
        </li>
        <li>
          <%=first_char_up @category%>
        </li>
      </ul>

      <h1 class='mb-50' >Articles in this topic</h1>
      <ul class='featured-text-list'>
        <% help_center_articles(@category).each do |article| %>

          <li class='featured-text-list-item featured-text-list-item-2'>
            <%= link_to help_center_article_path(category: @category, article: article), class: "featured-text-list-link headerFont arrow-link" do %>
		          <%= article %>
              <%= privilege_reputation(article) if is_privilege_category?(@category) %>

			        <svg class="arrow-icon" width="32" height="32" viewBox="0 0 32 32">
				        <g fill="none" stroke="rgba(20, 94, 101, 1)" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
					        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
						      <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
					      </g>
			        </svg>
	          <% end %>
	        </li>

        <% end %>
      </ul>

    </div>
    <div class='col-md-4 pl-md-50'>
      <%= render '/shared/sidebars/widgets/categories_widget', locals: { @category => @category } %>
      <%= render '/shared/sidebars/widgets/contact_us_widget' %>
    </div>

  </div>
</div>
