<div class="container-fluid blog-classic" id="help_center">
  <div class="row">
    <!-- ========== Blog Posts ========== -->

    <div class="col-lg-12">

      <div class="mh-auto ft-tabs">
        <div class="row">
            
          <!-- Tabs -->
          <div class="col-md-3 col-sm-3 col-lg-3 no-gap tab-navbar">
	          <ul class="tabs-list fixed-tabs-list" role="tablist">

		          <!-- Tab 1 -->
		          <li role="presentation" class="active">
			          <a data-easing="linear" href="#problems">
				          <div class="tab-bottom">
					          <p><span class="fa fa-question mr-5"></span> <span class="tab-text">Problems</span></p>
				          </div>
			          </a>

		          <!-- Tab 2 -->
		          </li><li role="presentation">
			          <a data-easing="linear" href="#general">
				          <div class="tab-bottom">
					          <p><span class="fa fa-star mr-5"></span> <span class="tab-text"> General</span></p>
			 	          </div>
			          </a>

		          <!-- Tab 3 -->
		          </li><li role="presentation">
			          <a data-easing="linear" href="#reputation">
				          <div class="tab-bottom">
					          <p><span class="fa fa-trophy mr-5"></span> <span class="tab-text">Reputation</span></p>
				          </div>
			          </a>

              <!-- Tab 4 -->
		          </li><li role="presentation">
			          <a data-easing="linear" href="#proofs">
				          <div class="tab-bottom">
					          <p><span class="fa fa-comment mr-5"></span> <span class="tab-text">Proofs</span></p>
				          </div>
			          </a>
		          </li>


              <!-- Tab 5 -->
		          </li><li role="presentation">
			          <a data-easing="linear" href="#account">
				          <div class="tab-bottom">
					          <p><span class="fa fa-user mr-5"></span> <span class="tab-text">Account</span></p>
			 	          </div>
			          </a>
              </li> 
	          </ul>
          </div><!-- / .col-lg-3 -->


          <!-- Tabs Content -->
          <div class="col-sm-8 col-md-8 col-lg-8 no-gap tab-content main-tab-content mb-100">

            <!-- Tab Content 1 -->
            <div class="tab-pane fade active in">
              <div class="col-md-12 tab-content-text page-content pt-0">
                <div class="tab-list-content">
                  <!-- FAQ Accordion -->
                  <div class="panel-group accordions-1" id="faq-accordion-1" role="tablist" aria-multiselectable="true">

                    <div class="mt-20" id="problems">
                      <h1 class="mb-20 reg-h1"> Problems </h1>
                      <div class="panel panel-default primary-card mb-40 faq-panel" id="topics-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-problem-1" aria-expanded="false" aria-controls="collapse-problem-1" id="heading-problem-1">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            What are tags/topics and how do I use them?
                          </h2>
                        </div>
                        <div id="collapse-problem-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-problem-1">
                          <div class="panel-body">
                            <%= render '/help_center/partials/on_topics' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel" id="good-problems-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-problem-2" aria-expanded="false" aria-controls="collapse-problem-2" id="heading-problem-2">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Writing good problems
                          </h2>
                        </div>
                        <div id="collapse-problem-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-problem-2">
                          <div class="panel-body">
                            <%= render '/help_center/partials/good_problems' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->
 
                      <div class="panel panel-default primary-card mb-40 faq-panel" id="problem-feed-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-problem-4" aria-expanded="false" aria-controls="collapse-problem-4" id="heading-problem-4">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How do I find problems I am interested in?
                          </h2>
                        </div>
                        <div id="collapse-problem-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-problem-4">
                          <div class="panel-body">
                            <%= render '/help_center/partials/on_problem_feed' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->

                    </div>

                    <div class="mt-20" id="general">
                      <h1 class="mb-20 reg-h1"> General </h1>
                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-1" aria-expanded="false" aria-controls="collapse-general-1" id="heading-general-1">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Expected Behavior
                          </h2>
                        </div>
                        <div id="collapse-general-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-1">
                          <div class="panel-body">
                            <%= render '/help_center/partials/expected_behavior' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->
 
                      <div class="panel panel-default primary-card mb-40 faq-panel" id="mathjax-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-3" aria-expanded="false" aria-controls="collapse-general-3" id="heading-general-3">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How do I write math on my posts?
                          </h2>
                        </div>
                        <div id="collapse-general-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-3">
                          <div class="panel-body" data-has-content="false">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel" id="editing-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-4" aria-expanded="false" aria-controls="collapse-general-4" id="heading-general-4">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Why can people edit my posts? How does editing work?
                          </h2>
                        </div>
                        <div id="collapse-general-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-4">
                          <div class="panel-body">
                            <%= render '/help_center/partials/editing_posts' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-5" aria-expanded="false" aria-controls="collapse-general-5" id="heading-general-5">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            What if I need more help?
                          </h2>
                        </div>
                        <div id="collapse-general-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-5">
                          <div class="panel-body">
                            <%= render '/help_center/partials/more_help' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->
 
                      <div class="panel panel-default primary-card mb-40 faq-panel" id="create-new-topic-faq">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-6" aria-expanded="false" aria-controls="collapse-general-6" id="heading-general-6">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Creating Topics
                          </h2>
                        </div>
                        <div id="collapse-general-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-6">
                          <div class="panel-body">
                            <%= render '/help_center/partials/creating_topics' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel" id="post-deletion-faq">
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-general-7" aria-expanded="false" aria-controls="collapse-general-7" id="heading-general-7">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How Can a Post be Deleted?
                          </h2>
                        </div>
                        <div id="collapse-general-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-general-7">
                          <div class="panel-body">
                            <%= render '/help_center/partials/deleting_posts' %>
                          </div>
                        </div>
                      </div><!-- / .panel --> 
                    </div>
                    <div class="mt-20" id="reputation">
                      <h1 class="mb-20 reg-h1"> Reputation </h1>

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-reputation-1" aria-expanded="false" aria-controls="collapse-reputation-1" id="heading-reputation-1">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            What is reputation and how do I earn it?
                          </h2>
                        </div>
                        <div id="collapse-reputation-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-reputation-1">
                          <div class="panel-body">
                            <%= render '/help_center/partials/reputation' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-reputation-2" aria-expanded="false" aria-controls="collapse-reputation-2" id="heading-reputation-2">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            What are badges?
                          </h2>
                        </div>
                        <div id="collapse-reputation-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-reputation-2">
                          <div class="panel-body">
                            <%= render '/help_center/partials/badges' %>
                          </div>
                        </div>
                      </div><!-- / .panel -->


                      <div class="panel panel-default primary-card mb-40 faq-panel" id="privilege-faq" style="padding: 16px 0 0 0;">   
                        <div class="panel-heading" style="padding: 5px 39px 21px 39px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-reputation-3" aria-expanded="false" aria-controls="collapse-reputation-3" id="heading-reputation-3">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            View privileges you can earn with reputation
                          </h2>
                        </div>
                        <div id="collapse-reputation-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-reputation-3">
                          <div class="panel-body" style="border-top: none; padding: 30px 0 0 0;">
                            <!-- Tabs -->
                            <div class="col-lg-3 no-gap">
                              <ul class="tabs-list priv-tabs-list" role="tablist">

                                <!-- Tab 1 -->
                                <li role="presentation" class="active">
                                  <a href="#priv1" aria-controls="priv1" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>0</h1>
                                      <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Create Posts</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 2 -->
                                <li role="presentation">
                                  <a href="#priv2" aria-controls="priv2" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>10</h1>
                                      <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Upvote</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 3 -->
                                <li role="presentation">
                                  <a href="#priv3" aria-controls="priv3" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>50</h1>
                                      <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Comment</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 4 -->
                                <li role="presentation">
                                  <a href="#priv4" aria-controls="priv4" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>200</h1>
                                      <i class="fa fa-thumbs-down"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Downvote</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 5 -->
                                <li role="presentation">
                                  <a href="#priv5" aria-controls="priv5" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>750</h1>
                                      <i class="fa fa-flag"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Report</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 6 -->
                                <li role="presentation">
                                  <a href="#priv6" aria-controls="priv6" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>2500</h1>
                                      <i class="fa fa-pencil"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Edit Problems & Proofs</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 7 -->
                                <li role="presentation">
                                  <a href="#priv7" aria-controls="priv7" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>3000</h1>
                                      <i class="fa fa-pencil"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Create & Edit Topics</p>
                                    </div>
                                  </a>
                                </li>

                                <!-- Tab 8 -->
                                <li role="presentation">
                                  <a href="#priv8" aria-controls="priv8" role="tab" data-toggle="tab">
                                    <div class="tab-top">
                                      <h1>5000</h1>
                                      <i class="fa fa-undo"></i>
                                    </div>
                                    <div class="tab-bottom">
                                      <p>Rollback Edits</p>
                                    </div>
                                  </a>
                                </li>


                              </ul>
                            </div><!-- / .col-lg-4 -->

                            <!-- Tabs Content -->
                            <div class="col-lg-9 no-gap tab-content priv-content">

                              <!-- Tab Content 1 -->
                              <div id="priv1" role="tabpanel" class="tab-pane fade active in">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Create Posts</h2></div>
                                  <div class="tab-list-content">
                                    <%= render "/help_center/priviliges/create_posts" %>
                                  </div>
                                </div>
                              </div><!-- / #priv1 -->

                              <!-- Tab Content 2 -->
                              <div id="priv2" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Upvote</h2></div>
                                  <div class="tab-list-content">
                                    <%= render "/help_center/priviliges/upvote" %>
                                  </div>
                                </div>
                              </div><!-- / #priv2 -->

                              <!-- Tab Content 3 -->
                              <div id="priv3" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Comment</h2></div>
                                  <div class="tab-list-content">
                                    <%= render "/help_center/priviliges/comment" %>
                                  </div>
                                </div>
                              </div><!-- / #priv3 -->

                              <!-- Tab Content 4 -->
                              <div id="priv4" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Downvote</h2></div>
                                  <div class="tab-list-content">
                                    <%= render "/help_center/priviliges/downvote" %>
                                  </div>
                                </div>
                              </div><!-- / #priv4 -->

                              <!-- Tab Content 5 -->
                              <div id="priv5" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Report Posts</h2></div>
                                  <div class="tab-list-content">
                                    <%= render "/help_center/priviliges/report" %>
                                  </div>
                                </div>
                              </div><!-- / #priv5 -->

                              <!-- Tab Content 6 -->
                              <div id="priv6" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Edit Problems & Proofs</h2></div>
                                  <div class="tab-list-content">
                                    <h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 2500</h3>
                                  </div>
                                </div>
                              </div><!-- / #priv6 --> 

                              <!-- Tab Content 7 -->
                              <div id="priv7" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Create and Edit Topics</h2></div>
                                  <div class="tab-list-content">
                                    <h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 3000</h3>
                                  </div>
                                </div>
                              </div><!-- / #priv7 -->

                              <!-- Tab Content 8 -->
                              <div id="priv8" role="tabpanel" class="tab-pane fade">
                                <div class="tab-content-text page-content">
                                  <div class="boxedtitle add-problem-title mb-40"><h2>Rollback Edits</h2></div>
                                  <div class="tab-list-content">
                                    <h3 style="font-size: 0.9em;">Reputation Needed: <span class="fa fa-trophy mr-5"></span> 5000</h3>
                                  </div>
                                </div>
                              </div><!-- / #priv8 --> 


                            </div><!-- / .col-lg-8 -->

                          </div>
                        </div>
                      </div><!-- / .panel -->

                    </div>

                    <div class="mt-20" id="proofs">
                      <h1 class="mb-20 reg-h1"> Proofs </h1>

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-proof-1" aria-expanded="false" aria-controls="collapse-proof-1" id="heading-proof-1">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How do I write a good proof?
                          </h2>
                        </div>
                        <div id="collapse-proof-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-proof-1">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-proof-2" aria-expanded="false" aria-controls="collapse-proof-2" id="heading-proof-2">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Can I prove my own problem?
                          </h2>
                        </div>
                        <div id="collapse-proof-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-proof-2">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-proof-3" aria-expanded="false" aria-controls="collapse-proof-3" id="heading-proof-3">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Why and how has my proof been deleted?
                          </h2>
                        </div>
                        <div id="collapse-proof-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-proof-3">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->
                    </div>

                    <div class="mt-20" id="account">
                      <h1 class="mb-20 reg-h1"> Account </h1>

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-account-1" aria-expanded="false" aria-controls="collapse-account-1" id="heading-account-1">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            I lost my password: how do I reset it?
                          </h2>
                        </div>
                        <div id="collapse-account-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-account-1">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-account-2" aria-expanded="false" aria-controls="collapse-account-2" id="heading-account-2">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How do I delete my account?
                          </h2>
                        </div>
                        <div id="collapse-account-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-account-2">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-account-3" aria-expanded="false" aria-controls="collapse-account-3" id="heading-account-3">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            How do I create an account?
                          </h2>
                        </div>
                        <div id="collapse-account-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-account-3">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->

                      <div class="panel panel-default primary-card mb-40 faq-panel">   
                        <div class="panel-heading" style="padding: 5px 15px;" role="tab">
                          <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-account-4" aria-expanded="false" aria-controls="collapse-account-4" id="heading-account-4">
                            <span class="glyphicon glyphicon-chevron-down float-right faq-toggle-content"></span>
                            Why should I create an account?
                          </h2>
                        </div>
                        <div id="collapse-account-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-account-4">
                          <div class="panel-body">
                          </div>
                        </div>
                      </div><!-- / .panel -->



                    </div>

                  </div><!-- / .panel-group .accordion-1 --> 
                </div>
              </div>
            </div><!-- / #tab1 -->
          </div><!-- / .col-lg-10 -->
        </div><!-- / .row -->
      </div>
    </div><!-- / .col-md-9 -->
  </div>
</div>
