<% if !defined?(activity).nil? %>
  <% default_width = false %>
  <% problem = activity.acted_on %>
<% else %>
  <% default_width = true %>
<% end %>

<div class="<%=default_width ? 'col-md-6':'col-md-offset-2 col-md-8' %>">
  <div class="mb-40 blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
    <div class="bp-content" style="padding-bottom: 20px;">                  
      <!-- Meta data -->
      <div class="post-meta">
        <div class="post-date float-left font-weight-500">
        <span class="no-transform">
          <%= meta_data_icon (!defined?(activity).nil? ? activity : problem) %>
          <% if defined? activity %>
            <%= activity.message %>  on <%=activity.created_at.strftime('%B %d, %Y')%>
          <% else %>
            <%=problem.created_at.strftime('%B %d, %Y')%>
          <% end %>
        </span>
      </div>

        <div class="vote-container vote-container-post float-right">
          <%= link_to vote_path(:vote_type => "like", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
            <%= upvote_span problem %>
          <% end %>

          <%= vote_count_span problem %>
                        
          <%= link_to vote_path(:vote_type => "dislike", :votable_type => "problem", :id => problem.id ), method: :put, remote: true do %>
            <%= downvote_span problem %>
          <% end %>
        </div>

        <div class="clearfix"></div>      
      </div><!-- / .meta -->

      <!-- Problem Topics -->
      <ul class="tag-list mt-5">
        <% problem.topics.each do |topic| %>
          <li>
            <%= link_to topic.name, topic_path(topic.id) %>
          </li>
        <% end %>
      </ul> <!-- / .tag-list -->


      <!-- Post Title -->
      <%= link_to problem_path(problem.id), class: "post-title" do %>
        <h3 class="main-link" style="font-size: 1.4em;"><%=problem.title%></h3>
      <% end %>
      
      <span class="problem-comment problem-info"><i class="glyphicon glyphicon-user mr-5"></i> <span id="problem-<%=problem.id%>-followers"><%= pluralize(problem.followers.count, "Follower") %></span></span>

      <span class="problem-comment problem-info"><i class="glyphicon glyphicon-comment mr-5"></i><%= pluralize(problem.proofs.count, "Proof") %></span>
      <span class="problem-comment problem-info"><i class="glyphicon glyphicon-eye-open mr-5"></i><%=pluralize(problem.impressionist_count, "view")%></span>

      <span class="problem-view problem-info"><i class="glyphicon glyphicon-pencil mr-5"></i> <%=pluralize(problem.versions.count, "Edit")%></span>

      <% if signed_in? %>
        <div id="problem-follow-<%=problem.id%>" data-class="btn btn-small">
          <%= follow_link problem, class: "btn btn-small" %>
        </div>
      <% else %>
        <div class="clearfix"></div>
      <% end %>

    </div><!-- / .bp-content -->
  </div><!-- / .blog-post -->
</div><!-- / .col-md-6 -->

<% if !default_width %>
  <div class="clearfix"></div>
<% end %>
