<% if !defined?(activity).nil? %>
  <% default_width = false %>
  <% user = activity.acted_on %>
<% else %>
  <% default_width = true %>
<% end %>

<% if !default_width %>
  <section class="ft-boxed-hover">
    <div class="row">
      <ul>
<% end %>

<div class="user-item-container <%= default_width ? 'col-md-3 col-sm-4 col-xs-6':'col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 user-item-activity' %>">
  <li style="width: 100%; float: none; margin-bottom: 20px; padding: 20px; min-height: 150px;">
    <% if !default_width %>
      <div class="post-meta">
        <div class="post-date float-left font-weight-500">
          <span class="no-transform"> 
            <%= meta_data_icon activity %>
            <%= activity.message %>  on <%=activity.created_at.strftime('%B %d, %Y')%>
          </span>
        </div>
        <div class="clearfix"></div>
      </div><!-- / .meta -->
    <% end %>

    <div class="author-img" style="float: none; margin: auto;">
	    <a href="#"><img width="60" height="60" src="<%= user_avatar_src(user) %>" alt="User Profile Image"></a>
		</div> 

    <h5 class="trumcate" style="font-size: 0.85em; font-weight: 600;"><%= user.username %></h5>
    <h6 class="truncate h-alt" style="font-size: 0.70em; color: #444; font-weight: 600;"><%= sanitize user.subinfo %></h6>

    <div class="hover-content" style="padding: 0px; background-image: url('<%=user_avatar_src(user) %>');">
      <div class="bg-overlay" style="padding: 10px;">
        <a href="<%= user_path(user.id)%>" class="ft-heading"><%= user.username %></a>
        <p style='font-size: 0.80em'>
          <% if default_width %>
            <%= truncate user.bio, length: 100, separator: /\w+/ %>
          <% else %>
            <%= user.bio %>
          <% end %>
        </p>
        <% if signed_in? and user != current_user %>
          <div class="user-follow-btn" id="user-follow-<%=user.id%>">
            <%= follow_link user %>
          </div>
        <% else %>
          <a class='mt-0' href="<%= user_path(user.id) %>">
            <button class="btn-small btn-ghost-light">View Profile</button>
          </a>
        <% end %>
      </div>
    </div><!-- / .hover-content -->
    <div class="reputation-ribbon" style="border-left-color: <%=reputation_color user.reputation %>; border-top-color: <%=reputation_color user.reputation %>;">
    </div>
    <span class='reputation-ribbon-score' style="<%=css_rep_score_position number_to_human(user.reputation)%>"><%=number_to_human user.reputation%></span>

  </li>
</div>

<% if !default_width %>
  </ul>
  </div>
  </section>
  <div class="clearfix"></div>
<% end %>
