<% if model.class.name == "Version" %>
  <% version = model %>
<% else %>
  <% version = model.acted_on %>
<% end %>

<div class="panel panel-default primary-card mb-40 version-panel">   
  <div class="panel-heading" style="padding: 5px 15px;" role="tab" id="heading-<%=version.id%>">
    <!-- Meta data -->
    <div class="post-meta mb-10">
      <div class="post-date float-left font-weight-500">
        <span class="no-transform">
          <%= meta_data_icon model %>
          <% if model.class.name == "Activity" %>
            <%= model.message %>  on <%=model.created_at.strftime('%B %d, %Y')%>
          <% else %>
            <a href='/users/<%= version.user.id %>'><%=version.user.username%></a> edited <%=controller_name == "topics" ? 'topic':'problem'%> on <%=version.created_at.strftime('%B %d, %Y')%>
          <% end %>
        </span>
      </div>
      <span class="label label-dark float-right">Version <%= version.version_number %></span>
      <div class="clearfix"></div>
    </div><!-- / .meta -->

      <h2 class="panel-title collapsed" role="button" data-toggle="collapse" href="#collapse-<%=version.id%>" aria-expanded="false" aria-controls="collapse-<%= version.id%>">
        <span class="glyphicon glyphicon-chevron-down float-right"></span>
        <%= version.title %>
      </h2>
    <div class="version-description">
      <p>
        <%= version.description %>
      </p>
    </div>
  </div>
  <div id="collapse-<%=version.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=version.id%>">
    <div class="panel-body">
      <!-- Version Post -->
      <div class="blog-post-single  mb-0 wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        <% if !version.problem_id.nil? %>
          <!-- Meta data -->
          <div class="post-meta" id="problem-tags-list">
            <ul class="tag-list mt-20">
              <% version.get_version_topics.each do |topic| %>
                <li><a href="<%= topic_path(topic.id)%>"><%= topic.name %></a></li>
              <% end %>
            </ul> <!-- / .tag-list -->
          </div><!-- / .meta -->
        <% end %>

        <!-- Title -->
        <h2 class="post-title font-weight-600 pt-20  mb-30 ls-2"><%= version.title %></h2>
        <div class="mb-20 mt-20 blog-post-content">
          <%= sanitize version.content %>
        </div>
      </div><!-- / .blog-post-single -->
    </div>
  </div>
</div><!-- / .panel -->

