<div class="modal-header">
  <button type="button" class="close ml-10" data-dismiss="modal">&times;</button>
	<h2 class="modal-title"><i class='fa fa-info-circle' title="More Information" aria-hidden="true"></i>&nbsp; More Info</h2>
</div>

<ul class="nav nav-tabs nav-tabs-line" role="tablist">
	<li class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="<%=report_path(id: report.id, tab: 'report')%>" aria-controls="exampleLine1" role="tab" data-remote='true' aria-selected="true">Report Info</a></li>
	<li class="nav-item" role="presentation"><a class="nav-link" id='reportable-info-link' data-toggle="tab" href="<%=report_path(id: report.id, tab: 'resource')%>" data-remote='true' aria-controls="exampleLine2" role="tab" aria-selected="false"><%=report.reportable_type%> Info</a></li>
</ul>
<div class='modal-body' id='report-info-modal-body'>
  <%= render(:partial => '/reports/more_info_report_body', locals:  {report: report} ) %>
</div>
<div class="modal-footer">
  <div class='report-actions'>
	  <%= link_to send("edit_" + report.reportable_type.downcase + "_path", report.reportable.id), class: 'get-action' do %>

	    <span class="fa fa-pencil mr-5" title="Edit <%=report.reportable_type%>"></span>
    <% end %>

		<%= link_to '#', class: 'success-action', title: "Close" do %>
		  <span class='fa fa-check-circle-o mr-5'></span>
	  <% end %>

    <a data-remote="true" class='put-action' rel="nofollow" data-method="put" href="/reports/1/reserve">
	    <span class="fa fa-bookmark-o mr-5" title="Reserve Report"></span>
    </a>

    <%= link_to '#', class: 'warning-action', title:"Send #{report.reportable_type} to Review Queue" do %>
		  <span class='fa fa-paper-plane mr-5'></span>
		<% end %>

		<a data-remote="true" class='danger-action' rel="nofollow" data-method="put" href="/reports/1/decline">
		  <span class="fa fa-ban mr-5" title="Decline Report"></span>
		</a>
	</div>
  <%= link_to '#' do %>
    <button type="button" class="btn btn-xs small-padding">View <%=report.reportable_type%></button>
  <% end %>
</div>
