<div class="container-fluid section">
  <div class="row">

    <div class="mh-auto ft-tabs">
      
          
        <!-- Tabs -->
        <div class="col-md-3 col-lg-2 no-gap mb-40">
          <ul class="tabs-list" role="tablist">

            <!-- Tab 1 -->
            <li role="presentation" class="active">
              <a href="<%= reports_path %>" aria-controls="tab1" role="tab" data-toggle="tab" data-remote="true" aria-expanded="true">
                <div class="tab-bottom">
                  <p><span class='fa fa-flag mr-5'></span> <span class='tab-text'>Reports</span></p>
                </div>
              </a>
            </li>

            <!-- Tab 2 -->
            <li role="presentation">
              <a href="<%= bookmarks_reports_path %>" aria-controls="tab2" role="tab" data-toggle="tab" data-remote="true" aria-expanded="true">
                <div class="tab-bottom">
                  <p><span class='fa fa-bookmark mr-5'></span> <span class='tab-text'>Bookmarked Reports</span></p>
                </div>
              </a>
            </li>

            <!-- Tab 3 -->
            <li role="presentation">
              <a href="<%= history_reports_path %>" aria-controls="tab3" role="tab" data-toggle="tab" data-remote="true" aria-expanded="true">
                <div class="tab-bottom">
                  <p><span class='fa fa-history mr-5'></span> <span class='tab-text'>History</span></p>
                </div>
              </a>
            </li>

            <!-- Tab 4 -->
            <li role="presentation">
              <a href="<%= users_reports_path %>" aria-controls="tab4" role="tab" data-toggle="tab" data-remote="true" aria-expanded="true">
                <div class="tab-bottom">
                  <p><span class='fa fa-user mr-5'></span> <span class='tab-text'>All Reviewers</span></p>
                </div>
              </a>
            </li>

            <!-- Tab 5 -->
            <li role="presentation">
              <a href="<%= help_reports_path %>" aria-controls="tab5" role="tab" data-toggle="tab" data-remote="true" aria-expanded="true">
                <div class="tab-bottom">
                  <p><span class='fa fa-question mr-5'></span> <span class='tab-text'>Help</span></p>
                </div>
              </a>
            </li>
          </ul>
        </div><!-- / .col-lg-3 -->


        <!-- Tabs Content -->
        <div class="col-md-9 col-lg-10 no-gap tab-content">

          <!-- Tab Content 1 -->
          <div class="tab-pane fade active in">
            <div class="tab-content-text reports-tab-content-text page-content">
              <div class="boxedtitle add-problem-title" style="margin: 0 0 40px 0;"><h2>Reports</h2></div>
              <div class="tab-list-content">
                <!-- Table Hover -->
                <div class="col-lg-12 ws-m">
                  <h4 class="ws-s">Table Hover</h4>
                  <div class="table-responsive">        
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="width: 6%; text-align: center;">Reporter</th>
                        <th class='th-type'>Reported Type</th>
                        <th class='th-date'>Date</th>
                        <th class="th-flags">Flags</th>
                        <th class="th-status">Status</th>
                        <th class='th-view'>View</th>
                        <th class='th-actions'>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @reports.each do |report| %>
                        <tr>
                          <td style="text-align: center; padding-left: 0; padding-right: 0;">
                            <%= link_to user_path(report.user) do %>
                              <img class="img-circle" alt="40x40" style="width: 40px; height: 40px;" src="<%= avatar_src(report.user.id) %>" title="<%=report.user.username%>" data-holder-rendered="true">
                              <% end %>
                          </td>
                          <td class='td-type'><span class='ml-20'><%= report.reportable_type %></span></td>
                          <td class='td-date'>
                            <%= time_ago_in_words(report.created_at) %> ago
                          </td>
                          <td class="td-flags" style="white-space: normal;">
                            <% report.flags.each do |flag| %>
                              <span class='colored-label'><%=flag.name%></span>

                            <% end %>
                          </td>
                          <td class="td-status">
                            <span class='colored-label <%= report.status.downcase.parameterize %>'><%=report.status%></span>
                          </td>
                          <td class='td-view'>
                            <%= link_to "#{reported_path(report)}" do %>
                              <button class="btn btn-ghost btn-xs small-padding">View <%= report.reportable_type %></button>
                            <% end %>
                          </td>
                          <td class='td-actions'>
                            <a href="#" class="dropdown-toggle">
                              <span class='fa fa-ellipsis-h mr-5' title="actions"></span>
                            </a>
 
                            <%= link_to "#" do %>
                              <span class='fa fa-paper-plane mr-5' title="send post to review queue"></span>
                            <% end %>

                            <%= link_to "#" do %>
                              <span class='fa fa-ban mr-5' title="decline report"></span>
                            <% end %>

                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table><!-- / .table -->
                  </div>
                </div><!-- / .col-lg-8 -->

              </div>
            </div>
          </div><!-- / #tab1 -->
        </div><!-- / .col-lg-8 -->

    </div>
  </div>
</div>


