<!-- ========== Navigation ========== -->

<nav class="navbar navbar-default navbar-static-top mega navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" href="/"><img class="navbar-logo" src="/assets/images/logo.png" alt="Prove It - Logo" style="width: 30px; height: 30px; display: inline-block;"> <span class="logo-title ml-2"> MathProofs</span></a>
    </div><!-- / .navbar-header -->

    <!-- Navbar Links -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Home -->
        <li>
          <%= link_to "Home", problems_path %>
        </li><!-- / Home -->
               
      </ul><!-- / .nav .navbar-nav -->

      <!-- Navbar Links Right -->
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <!-- Login -->
          <li>
            <a href="<%= new_user_session_path %>">
              <button class="btn-ghost-light btn-small" style="border-width: 1px;">Login</button>
            </a>
          </li><!-- / Login -->

          <!-- Signup -->
          <li>
            <a href="<%= new_user_registration_path %>">
              <button class="btn btn-light btn-small">Signup</button>
            </a>
          </li><!-- / Signup -->

        <% else %>

          <!-- New Problem -->
          <li>
            <a href="<%= new_problem_path %>">
              <button class="btn-ghost-light btn-small" style="bottom: 6px;">Add Problem</button>
            </a>
          </li><!-- / New Problem -->

          <!-- User dropdown -->
          <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false" href="#">
						  <span class="glyphicon glyphicon-user g-mr-5"></span>
						  <span><%=current_user.username%></span>
						  <span class="caret"></span>
					  </a>
        	  <ul class="dropdown-menu">
          	  <li class="g-mh-20">
							  <%= link_to "Profile", current_user %>
						  </li>	

          	  <li class="g-mh-20">
							  <%= link_to "Account", edit_user_registration_path %>
						  </li>

          	  <li class="g-mh-20">
							  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
						  </li>
       		  </ul>
				  </li> <!-- / user dropdown -->

                   
        <% end %>
 
        <!-- Search -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> Search</a>
          <ul class="dropdown-menu search-dropdown">
            <li><form action="post"><input type="search" class="form-control" placeholder="Search..."></form></li>
          </ul>
        </li><!-- / Search --> 
      </ul><!-- / .nav .navbar-nav .navbar-right -->

    </div><!--/.navbar-collapse -->
  </div><!-- / .container -->
</nav><!-- / .navbar -->
