<!-- ========== Navigation ========== -->

<nav class="navbar navbar-default navbar-static-top <%= nav_border %>">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" href="/"><img class="navbar-logo" src="/assets/logo.png" alt="Prove It - Logo" style="width: 30px; height: 30px; display: inline-block;"> <span class="logo-title ml-2"> MathProofs</span></a>
    </div><!-- / .navbar-header -->

    <!-- Navbar Links -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
               
      </ul><!-- / .nav .navbar-nav -->

      <!-- Navbar Links Right -->
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <!-- Login -->
          <li>
            <a href="<%= new_user_session_path %>">
              <button class="btn-ghost" style="border-width: 1px;">Login</button>
            </a>
          </li><!-- / Login -->

          <!-- Signup -->
          <li>
            <a href="<%= new_user_registration_path %>">
              <button class="btn">Signup</button>
            </a>
          </li><!-- / Signup -->

        <% else %>

          <% if controller_name != 'search' and !(controller_name == 'problems' and (action_name == 'new' or action_name == 'edit')) and !(controller_name == 'proofs' and action_name == 'edit') and !(controller_name == 'help_center')%>
          <!-- New Problem -->
          <li>
            <a href="<%= new_problem_path %>">
              <button class="btn-ghost btn-small" style="bottom: 3px; border-width: 1px;">Add problem</button>
            </a>
          </li><!-- / New Problem -->
          <% end %>

          <li class="dropdown dropdown-notifications general-notifications" data-behavior="general-notifications">
            <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown" data-behavior="general-notifications-link">
              <i class="fa fa-bell-o"><%= notifications_badge %></i>
            </a>
            <%= render 'shared/notifications_dropdown' %>
          </li> <!-- / message dropdown -->
 
          <!-- User dropdown -->
          <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false" href="#" style="text-transform: none; font-weight: 600;">
						  <span class="fa fa-user-o g-mr-5" style="font-size: 15px;"></span>
						  <span style="font-size: 15px; margin-left: 3px;"><%=current_user.username%></span>
						  <span class="caret"></span>
					  </a>
        	  <ul class="dropdown-menu">
          	  <li class="g-mh-20">
							  <%= link_to "Profile", current_user %>
						  </li>	

          	  <li class="g-mh-20">
							  <%= link_to "Account", edit_user_path(current_user) %>
						  </li>

              <% if current_user.has_review_privileges? %>
                <li class='g-mh-20'>
                  <%= link_to "Reports", reports_path %>
                </li>
              <% end %>

          	  <li class="g-mh-20">
							  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
						  </li>
       		  </ul>
				  </li> <!-- / user dropdown -->

                   
        <% end %>
 
        <% if controller_name != 'search' and !(controller_name == 'problems' and (action_name == 'new' or action_name == 'edit')) and !(controller_name == 'proofs' and action_name == 'edit') and !(controller_name == 'help_center')%>
        <!-- Search -->
        <li class="dropdown" id='search-toggle'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='font-size: 15px;'><i class="fa fa-search"></i></a>
          <ul class="dropdown-menu search-dropdown">
            <li><form role="search"><input type="search" class="form-control" id="main-search" placeholder="Search..."></form></li>
          </ul>
        </li><!-- / Search --> 
        <% end %>

      </ul><!-- / .nav .navbar-nav .navbar-right -->

    </div><!--/.navbar-collapse -->
  </div><!-- / .container -->
</nav><!-- / .navbar -->
