<!DOCTYPE html>
<html>
  <head>
    <title>LetsProveIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render 'shared/preloader' %>
    <%= render 'shared/flash_messages' %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
